@import url(https://fonts.googleapis.com/css?family=Roboto:400,700);
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.footer_principal {
  background-color: black;
  margin: 0px 0px 0px 0px;
  display: flex;
  flex-direction: row;
}
@media (max-width: 414px) and (min-width: 376px) {
  .footer_principal {
    display: flex;
  }
}
@media (max-width: 376px) and (min-width: 320px) {
  .footer_principal {
    display: flex;
  }
}
.footer_principal_logo img {
  width: 30%;
}
@media (max-width: 768px) and (min-width: 414px) {
  .footer_principal_logo img {
    width: 50%;
  }
}
@media (max-width: 414px) and (min-width: 376px) {
  .footer_principal_logo img {
    margin-top: 432px;
    width: 47%;
  }
}
@media (max-width: 376px) and (min-width: 320px) {
  .footer_principal_logo img {
    margin-top: 432px;
    width: 47%;
  }
}
.footer_principal-aviso {
  color: #ffffff;
  display: flex;
  flex-direction: column;
  width: 29%;
  justify-content: flex-end;
  align-items: flex-end;
  margin: 0px 30px 20px 9px;
}
@media (max-width: 1920px) and (min-width: 1441px) {
  .footer_principal-aviso {
    width: 45%;
  }
}
@media (max-width: 1024px) and (min-width: 768px) {
  .footer_principal-aviso {
    width: 100%;
  }
}
@media (max-width: 414px) and (min-width: 376px) {
  .footer_principal-aviso {
    padding: 0;
    width: 100%;
    font-size: 18px;
    margin: 0px 20px 31px 0px;
    border-radius: 10%;
  }
}
@media (max-width: 376px) and (min-width: 320px) {
  .footer_principal-aviso {
    padding: 0;
    width: 100%;
    font-size: 18px;
    margin: 0px 20px 31px 0px;
    border-radius: 10%;
  }
}
.footer_principal-aviso a {
  font-size: 30px;
  color: #FFFFFF;
  margin-bottom: 20px;
  background-image: linear-gradient(to bottom, #e0e0e0, #a0a0a0);
  color: #333;
  padding: 10px;
  border-radius: 8%;
  font-family: "Oswald", sans-serif;
  text-align: center;
}
@media (max-width: 1024px) and (min-width: 768px) {
  .footer_principal-aviso a {
    font-size: 20px;
    width: 20%;
  }
}
@media (max-width: 768px) and (min-width: 414px) {
  .footer_principal-aviso a {
    font-size: 20px;
    width: 40%;
    margin-top: 20px;
  }
}
@media (max-width: 414px) and (min-width: 376px) {
  .footer_principal-aviso a {
    padding: 0;
    width: 100%;
    font-size: 18px;
  }
}
@media (max-width: 376px) and (min-width: 320px) {
  .footer_principal-aviso a {
    padding: 0;
    width: 100%;
    font-size: 18px;
  }
}
.footer_principal-aviso span {
  font-size: 30px;
}
@media (max-width: 1024px) and (min-width: 768px) {
  .footer_principal-aviso span {
    font-size: 20px;
  }
}
@media (max-width: 768px) and (min-width: 414px) {
  .footer_principal-aviso span {
    font-size: 20px;
  }
}
@media (max-width: 414px) and (min-width: 376px) {
  .footer_principal-aviso span {
    font-size: 14px;
    margin: 0;
  }
}
@media (max-width: 376px) and (min-width: 320px) {
  .footer_principal-aviso span {
    font-size: 14px;
    margin: 0;
  }
}

.header_principal {
  background-image: url(../img/background-body.png);
  position: relative;
}
.header_principal_contenedor {
  margin: 0px 100px 0px 100px;
  padding: 30px;
}
@media (max-width: 414px) and (min-width: 376px) {
  .header_principal_contenedor {
    margin: 0px 10px 0px 10px;
    display: block;
  }
}
@media (max-width: 376px) and (min-width: 320px) {
  .header_principal_contenedor {
    margin: 0px 10px 0px 10px;
    display: block;
  }
}
.header_principal_contenedor-nav {
  display: grid;
  grid-template-columns: 2fr 1fr;
  display: grid;
  grid-template-columns: 2fr 1fr;
}
@media (max-width: 414px) and (min-width: 376px) {
  .header_principal_contenedor-nav {
    display: block;
  }
}
@media (max-width: 376px) and (min-width: 320px) {
  .header_principal_contenedor-nav {
    display: block;
  }
}
.header_principal_contenedor-nav-index {
  display: flex;
  justify-content: space-between;
}
.header_principal_contenedor-nav-index a {
  font-size: 32px;
  color: #0CA6D9;
  filter: drop-shadow(12px 32px 20px rgb(0, 0, 0));
}
@media (max-width: 1920px) and (min-width: 1441px) {
  .header_principal_contenedor-nav-index a {
    font-size: 42px;
  }
}
@media (max-width: 1024px) and (min-width: 768px) {
  .header_principal_contenedor-nav-index a {
    font-size: 20px;
  }
}
@media (max-width: 768px) and (min-width: 414px) {
  .header_principal_contenedor-nav-index a {
    font-size: 16px;
  }
}
@media (max-width: 414px) and (min-width: 376px) {
  .header_principal_contenedor-nav-index a {
    font-size: 12px;
  }
}
@media (max-width: 376px) and (min-width: 320px) {
  .header_principal_contenedor-nav-index a {
    font-size: 12px;
  }
}
.header_principal_contenedor-nav-logo {
  position: relative;
}
@media (max-width: 1920px) and (min-width: 1441px) {
  .header_principal_contenedor-nav-logo {
    right: 100px;
  }
}
@media (max-width: 1024px) and (min-width: 768px) {
  .header_principal_contenedor-nav-logo {
    right: 100px;
  }
}
.header_principal_contenedor-nav-logo img {
  position: relative;
  width: 100%;
  filter: drop-shadow(12px 32px 20px rgb(0, 0, 0));
}
.header_principal_contenedor-nav-title {
  color: #d9451c;
  text-align: right;
  font-size: 97px;
  font-family: "Road Rage", sans-serif;
  font-weight: 300;
  max-width: 100%;
  margin-top: 123px;
  filter: drop-shadow(12px 32px 20px rgb(0, 0, 0));
}
@media (max-width: 1920px) and (min-width: 1441px) {
  .header_principal_contenedor-nav-title {
    font-size: 145px;
  }
}
@media (max-width: 1024px) and (min-width: 768px) {
  .header_principal_contenedor-nav-title {
    font-size: 70px;
  }
}
@media (max-width: 768px) and (min-width: 414px) {
  .header_principal_contenedor-nav-title {
    margin-top: 50px;
  }
}
@media (max-width: 414px) and (min-width: 376px) {
  .header_principal_contenedor-nav-title {
    font-size: 100px;
    text-align: center;
    margin: 0;
  }
}
@media (max-width: 376px) and (min-width: 320px) {
  .header_principal_contenedor-nav-title {
    font-size: 100px;
    text-align: center;
    margin: 0;
  }
}

.header-general {
  display: flex;
  justify-content: space-between;
}
.header-general-logo {
  width: 50%;
}
.header-general-logo img {
  width: 25%;
  margin-left: 30px;
}
.header-general-nav {
  position: absolute;
  margin: 67px 0px 0px 219px;
}
.header-general-nav-index {
  display: flex;
  gap: 115px;
}
.header-general-nav-index a {
  font-size: 32px;
  color: #0CA6D9;
  filter: drop-shadow(12px 32px 20px rgb(0, 0, 0));
}

.main_principal-hero-1 {
  background-image: url(../img/background2.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 83vh;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  perspective: 1000px;
}
@media (max-width: 414px) and (min-width: 376px) {
  .main_principal-hero-1 {
    background-size: auto;
    background-position: 0% 32%;
    height: 59vh;
  }
}
@media (max-width: 376px) and (min-width: 320px) {
  .main_principal-hero-1 {
    background-size: auto;
    background-position: 0% 32%;
    height: 59vh;
  }
}
.main_principal-hero-1-container-tv {
  transform-style: preserve-3d;
  transform: rotateY(39deg) rotateX(10deg) rotateZ(0deg) skewY(-3deg);
  transform-origin: center bottom;
  position: absolute;
  width: 336px;
  height: 345px;
  bottom: 288px;
  right: 966px;
  opacity: 65%;
}
@media (max-width: 1920px) and (min-width: 1441px) {
  .main_principal-hero-1-container-tv {
    width: 410px;
    height: 450px;
    bottom: 293px;
    right: 1322px;
    transform: rotateY(43deg) rotateX(13deg) rotateZ(0deg) skewY(-2deg);
  }
}
@media (max-width: 1280px) and (min-width: 1024px) {
  .main_principal-hero-1-container-tv {
    width: 328px;
    height: 345px;
    bottom: 222px;
    right: 838px;
  }
}
@media (max-width: 1024px) and (min-width: 768px) {
  .main_principal-hero-1-container-tv {
    width: 328px;
    height: 345px;
    bottom: 202px;
    right: 596px;
  }
}
@media (max-width: 768px) and (min-width: 414px) {
  .main_principal-hero-1-container-tv {
    width: 459px;
    height: 354px;
    bottom: 339px;
    right: 201px;
    transform: rotateY(28deg) rotateX(8deg) rotateZ(0deg) skewY(-1deg);
  }
}
@media (max-width: 414px) and (min-width: 376px) {
  .main_principal-hero-1-container-tv {
    width: 300px;
    height: 257px;
    left: 74px;
    bottom: 191px;
  }
}
@media (max-width: 376px) and (min-width: 320px) {
  .main_principal-hero-1-container-tv {
    width: 300px;
    height: 257px;
    left: 74px;
    bottom: 158px;
    transform: rotateY(28deg) rotateX(8deg) rotateZ(0deg) skewY(-1deg);
  }
}
.main_principal-hero-1-container-tv-clases {
  margin-bottom: 20px;
}
@media (max-width: 1024px) and (min-width: 768px) {
  .main_principal-hero-1-container-tv-clases {
    margin-bottom: 10px;
  }
}
@media (max-width: 414px) and (min-width: 376px) {
  .main_principal-hero-1-container-tv-clases {
    margin-bottom: 0;
  }
}
@media (max-width: 376px) and (min-width: 320px) {
  .main_principal-hero-1-container-tv-clases {
    margin-bottom: 0;
  }
}
.main_principal-hero-1-container-tv-clases a {
  font-family: "Oswald", sans-serif;
  color: #d9451c;
  font-size: 33px;
  font-weight: 700;
}
@media (max-width: 1920px) and (min-width: 1441px) {
  .main_principal-hero-1-container-tv-clases a {
    font-size: 33px;
  }
}
@media (max-width: 1280px) and (min-width: 1024px) {
  .main_principal-hero-1-container-tv-clases a {
    font-size: 30px;
  }
}
@media (max-width: 414px) and (min-width: 376px) {
  .main_principal-hero-1-container-tv-clases a {
    font-size: 30px;
  }
}
@media (max-width: 376px) and (min-width: 320px) {
  .main_principal-hero-1-container-tv-clases a {
    font-size: 30px;
  }
}
.main_principal-hero-1-container-tv-info {
  margin-bottom: 20px;
}
@media (max-width: 1024px) and (min-width: 768px) {
  .main_principal-hero-1-container-tv-info {
    margin-bottom: 10px;
  }
}
@media (max-width: 414px) and (min-width: 376px) {
  .main_principal-hero-1-container-tv-info {
    margin-bottom: 0;
  }
}
@media (max-width: 376px) and (min-width: 320px) {
  .main_principal-hero-1-container-tv-info {
    margin-bottom: 0;
  }
}
.main_principal-hero-1-container-tv-info a {
  font-family: "Bebas Neue", sans-serif;
  color: #E77124;
  font-size: 28px;
}
@media (max-width: 1920px) and (min-width: 1441px) {
  .main_principal-hero-1-container-tv-info a {
    font-size: 34px;
  }
}
@media (max-width: 1280px) and (min-width: 1024px) {
  .main_principal-hero-1-container-tv-info a {
    font-size: 26px;
  }
}
@media (max-width: 768px) and (min-width: 414px) {
  .main_principal-hero-1-container-tv-info a {
    font-size: 40px;
  }
}
@media (max-width: 414px) and (min-width: 376px) {
  .main_principal-hero-1-container-tv-info a {
    font-size: 26px;
  }
}
@media (max-width: 376px) and (min-width: 320px) {
  .main_principal-hero-1-container-tv-info a {
    font-size: 26px;
  }
}
.main_principal-hero-1-container-tv-shop {
  margin-bottom: 20px;
}
@media (max-width: 1024px) and (min-width: 768px) {
  .main_principal-hero-1-container-tv-shop {
    margin-bottom: 10px;
  }
}
@media (max-width: 414px) and (min-width: 376px) {
  .main_principal-hero-1-container-tv-shop {
    margin-bottom: 0;
  }
}
@media (max-width: 376px) and (min-width: 320px) {
  .main_principal-hero-1-container-tv-shop {
    margin-bottom: 0;
  }
}
.main_principal-hero-1-container-tv-shop a {
  font-family: "Roboto Slab", serif;
  color: #FFD700;
  font-size: 20px;
}
@media (max-width: 1920px) and (min-width: 1441px) {
  .main_principal-hero-1-container-tv-shop a {
    font-size: 32px;
  }
}
@media (max-width: 768px) and (min-width: 414px) {
  .main_principal-hero-1-container-tv-shop a {
    font-size: 30px;
  }
}
@media (max-width: 414px) and (min-width: 376px) {
  .main_principal-hero-1-container-tv-shop a {
    font-size: 20px;
  }
}
@media (max-width: 376px) and (min-width: 320px) {
  .main_principal-hero-1-container-tv-shop a {
    font-size: 20px;
  }
}
.main_principal-hero-1-container-tv-contact a {
  font-family: "Road Rage", sans-serif;
  color: #FFFFFF;
  font-size: 40px;
}
@media (max-width: 1920px) and (min-width: 1441px) {
  .main_principal-hero-1-container-tv-contact a {
    font-size: 68px;
  }
}
@media (max-width: 1280px) and (min-width: 1024px) {
  .main_principal-hero-1-container-tv-contact a {
    font-size: 30px;
  }
}
@media (max-width: 414px) and (min-width: 376px) {
  .main_principal-hero-1-container-tv-contact a {
    font-size: 30px;
  }
}
@media (max-width: 376px) and (min-width: 320px) {
  .main_principal-hero-1-container-tv-contact a {
    font-size: 30px;
  }
}
.main_principal-hero-1 h2 {
  margin: 0px 10px 30px 0px;
  font-size: 73px;
  font-family: "Road Rage", sans-serif;
}
@media (max-width: 1920px) and (min-width: 1441px) {
  .main_principal-hero-1 h2 {
    font-size: 102px;
    margin: 0px 18px 12px 0px;
  }
}
@media (max-width: 1024px) and (min-width: 768px) {
  .main_principal-hero-1 h2 {
    font-size: 52px;
    margin: 0px 10px 19px 0px;
  }
}
@media (max-width: 414px) and (min-width: 376px) {
  .main_principal-hero-1 h2 {
    margin: 0px 13px 9px 0px;
    font-size: 31px;
    background-image: linear-gradient(to bottom, #ada9a9, #424040);
    padding: 5px;
    border: 3px solid #666;
    border-radius: 13%;
  }
}
@media (max-width: 376px) and (min-width: 320px) {
  .main_principal-hero-1 h2 {
    margin: 0px 13px 9px 0px;
    font-size: 31px;
    background-image: linear-gradient(to bottom, #ada9a9, #424040);
    padding: 5px;
    border: 3px solid #666;
    border-radius: 13%;
  }
}
.main_principal-hero-1-btn {
  display: inline-block;
  padding: 10px 20px;
  border: none;
  border-radius: 50%;
  font-family: "Arial", sans-serif;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  background-image: linear-gradient(to bottom, #e0e0e0, #a0a0a0);
  color: #333;
  box-shadow: 0 5px 0 #808080, 0 8px 15px rgba(0, 0, 0, 0.3);
  transition: all 0.1s ease-in-out;
  filter: drop-shadow(12px 32px 20px rgb(0, 0, 0));
}
@media (max-width: 1024px) and (min-width: 768px) {
  .main_principal-hero-1-btn {
    padding: 10px 10px;
  }
}
@media (max-width: 414px) and (min-width: 376px) {
  .main_principal-hero-1-btn {
    padding: 10px 10px;
    background-image: linear-gradient(to bottom, #ada9a9, #424040);
  }
}
@media (max-width: 376px) and (min-width: 320px) {
  .main_principal-hero-1-btn {
    padding: 10px 10px;
    background-image: linear-gradient(to bottom, #ada9a9, #424040);
  }
}
.main_principal-hero-1-btn :active {
  transform: translateY(3px);
  box-shadow: 0 2px 0 #808080, 0 5px 10px rgba(0, 0, 0, 0.3);
}
.main_principal-hero-1-btn {
  margin: 0px 176px 30px 0px;
}
@media (max-width: 1280px) and (min-width: 1024px) {
  .main_principal-hero-1-btn {
    margin: 0px 75px 30px 0px;
  }
}
@media (max-width: 1024px) and (min-width: 768px) {
  .main_principal-hero-1-btn {
    margin: 0px 101px 28px 0px;
  }
}
@media (max-width: 768px) and (min-width: 414px) {
  .main_principal-hero-1-btn {
    margin-right: 266px;
  }
}
@media (max-width: 414px) and (min-width: 376px) {
  .main_principal-hero-1-btn {
    margin-right: 70px;
    margin-bottom: 15px;
  }
}
@media (max-width: 376px) and (min-width: 320px) {
  .main_principal-hero-1-btn {
    margin-right: 70px;
    margin-bottom: 15px;
  }
}
.main_principal-hero-1-btn a {
  font-family: "Bebas Neue", sans-serif;
  font-size: 47px;
  color: rgb(80, 72, 72);
  filter: drop-shadow(12px 32px 20px rgb(0, 0, 0));
}
@media (max-width: 1024px) and (min-width: 768px) {
  .main_principal-hero-1-btn a {
    font-size: 15px;
  }
}
@media (max-width: 414px) and (min-width: 376px) {
  .main_principal-hero-1-btn a {
    font-size: 15px;
    color: black;
    font-family: "Road Rage", sans-serif;
  }
}
@media (max-width: 376px) and (min-width: 320px) {
  .main_principal-hero-1-btn a {
    font-size: 15px;
    color: black;
    font-family: "Road Rage", sans-serif;
  }
}
.main_principal-hero-2 {
  padding: 20px;
  background-image: url(../img/Top-Mistral.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 51vh;
  display: flex;
  justify-content: space-between;
}
@media (max-width: 768px) and (min-width: 414px) {
  .main_principal-hero-2 {
    background-position: 48%;
  }
}
@media (max-width: 414px) and (min-width: 376px) {
  .main_principal-hero-2 {
    background-position: 69%;
    height: 42vh;
    padding: 0;
  }
}
@media (max-width: 376px) and (min-width: 320px) {
  .main_principal-hero-2 {
    background-position: 69%;
    height: 42vh;
    padding: 0;
  }
}
.main_principal-hero-2-title {
  margin: 172px 100px 30px 0px;
  text-align: right;
  width: 26%;
  font-family: "Oswald", sans-serif;
  font-size: 38px;
  font-weight: 300;
  color: #FFFFFF;
  filter: drop-shadow(12px 32px 20px rgb(0, 0, 0));
}
@media (max-width: 1920px) and (min-width: 1441px) {
  .main_principal-hero-2-title {
    font-size: 48px;
    margin: 240px 100px 30px 0px;
  }
}
@media (max-width: 1280px) and (min-width: 1024px) {
  .main_principal-hero-2-title {
    font-size: 34px;
    margin: 152px 40px 30px 0px;
    width: 30%;
  }
}
@media (max-width: 1024px) and (min-width: 768px) {
  .main_principal-hero-2-title {
    font-size: 27px;
    margin: 152px 40px 30px 0px;
    width: 25%;
  }
}
@media (max-width: 414px) and (min-width: 376px) {
  .main_principal-hero-2-title {
    font-size: 29px;
    width: 62%;
    margin: 140px 30px 0px 161px;
  }
}
@media (max-width: 376px) and (min-width: 320px) {
  .main_principal-hero-2-title {
    font-size: 24px;
    width: 62%;
    margin: 140px 30px 0px 161px;
  }
}
.main_principal-hero-2-title strong {
  color: #d9451c;
}
.main_principal-hero-2-galeria {
  position: relative;
  display: flex;
  overflow-x: scroll;
  overflow-y: hidden;
  scroll-snap-type: x mandatory;
  width: 30%;
  margin-left: 50px;
  border: 10px solid #222222;
  border-radius: 5%;
}
@media (max-width: 1024px) and (min-width: 768px) {
  .main_principal-hero-2-galeria {
    width: 46%;
    height: auto;
  }
}
@media (max-width: 768px) and (min-width: 414px) {
  .main_principal-hero-2-galeria {
    width: 36%;
    height: 67%;
  }
}
@media (max-width: 414px) and (min-width: 376px) {
  .main_principal-hero-2-galeria {
    width: 100%;
    height: 49%;
    border: 10px ridge #e2c75d;
    top: 1738px;
    margin: 0;
    position: absolute;
  }
}
@media (max-width: 376px) and (min-width: 320px) {
  .main_principal-hero-2-galeria {
    width: 100%;
    height: 49%;
    border: 10px ridge #e2c75d;
    top: 1608px;
    margin: 0;
    position: absolute;
  }
}
.main_principal-hero-2-galeria img {
  scroll-snap-align: center;
  width: 100%;
  height: auto;
  object-fit: cover;
  border: 3px solid #222222;
}

body.principal {
  background-color: #222222;
}

body.quienes-somos {
  background-image: url(../../img/background-body.png);
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.separetion img {
  max-width: 100%;
  width: 100%;
}
.separetion {
  background-image: url(../../img/baliza.png);
  max-width: 100%;
}

/*# sourceMappingURL=style.css.map */
