@import url(https://fonts.googleapis.com/css?family=Roboto:400,700);
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.footer_principal {
  background-color: black;
  margin: 0px 0px 0px 0px;
  display: flex;
  flex-direction: row;
}
@media (max-width: 820px) and (min-width: 415px) {
  .footer_principal {
    display: flex;
  }
}
@media (max-width: 414px) and (min-width: 376px) {
  .footer_principal {
    display: flex;
  }
}
@media (max-width: 375px) and (min-width: 320px) {
  .footer_principal {
    display: flex;
  }
}
.footer_principal_logo img {
  width: 30%;
}
@media (max-width: 820px) and (min-width: 415px) {
  .footer_principal_logo img {
    width: 50%;
  }
}
@media (max-width: 414px) and (min-width: 376px) {
  .footer_principal_logo img {
    margin-top: 286px;
    width: 47%;
  }
}
@media (max-width: 375px) and (min-width: 320px) {
  .footer_principal_logo img {
    margin-top: 321px;
    width: 47%;
  }
}
.footer_principal-aviso {
  color: #ffffff;
  display: flex;
  flex-direction: column;
  width: 29%;
  justify-content: flex-end;
  align-items: flex-end;
  margin: 0px 90px 20px 9px;
}
@media (max-width: 1920px) and (min-width: 1441px) {
  .footer_principal-aviso {
    width: 45%;
  }
}
@media (max-width: 1024px) and (min-width: 821px) {
  .footer_principal-aviso {
    width: 100%;
  }
}
@media (max-width: 414px) and (min-width: 376px) {
  .footer_principal-aviso {
    padding: 0;
    width: 100%;
    font-size: 18px;
    margin: 0px 20px 31px 0px;
    border-radius: 10%;
  }
}
@media (max-width: 375px) and (min-width: 320px) {
  .footer_principal-aviso {
    padding: 0;
    width: 100%;
    font-size: 18px;
    margin: 0px 20px 31px 0px;
    border-radius: 10%;
  }
}
.footer_principal-aviso a {
  font-size: 30px;
  color: #FFFFFF;
  margin-bottom: 20px;
  background-image: linear-gradient(to bottom, #e0e0e0, #a0a0a0);
  color: #333;
  padding: 10px;
  border-radius: 8%;
  font-family: "Oswald", sans-serif;
  text-align: center;
}
@media (max-width: 1024px) and (min-width: 821px) {
  .footer_principal-aviso a {
    font-size: 20px;
    width: 24%;
  }
}
@media (max-width: 820px) and (min-width: 415px) {
  .footer_principal-aviso a {
    font-size: 20px;
    width: 80%;
    margin-top: 20px;
  }
}
@media (max-width: 414px) and (min-width: 376px) {
  .footer_principal-aviso a {
    padding: 0;
    width: 100%;
    font-size: 18px;
  }
}
@media (max-width: 375px) and (min-width: 320px) {
  .footer_principal-aviso a {
    padding: 0;
    width: 54%;
    font-size: 12px;
  }
}
.footer_principal-aviso span {
  font-size: 30px;
}
@media (max-width: 1024px) and (min-width: 821px) {
  .footer_principal-aviso span {
    font-size: 20px;
  }
}
@media (max-width: 820px) and (min-width: 415px) {
  .footer_principal-aviso span {
    font-size: 18px;
  }
}
@media (max-width: 414px) and (min-width: 376px) {
  .footer_principal-aviso span {
    font-size: 14px;
    margin: 0;
  }
}
@media (max-width: 375px) and (min-width: 320px) {
  .footer_principal-aviso span {
    font-size: 12px;
    margin: 0;
  }
}

.header_principal {
  background-image: url(../img/background-body.png);
  position: relative;
}
.header_principal_contenedor {
  margin: 0px 100px 0px 100px;
  padding: 30px;
}
@media (max-width: 414px) and (min-width: 376px) {
  .header_principal_contenedor {
    margin: 0px 10px 0px 10px;
    display: block;
  }
}
@media (max-width: 375px) and (min-width: 320px) {
  .header_principal_contenedor {
    margin: 0px 10px 0px 10px;
    display: block;
  }
}
.header_principal_contenedor-nav {
  display: grid;
  grid-template-columns: 2fr 1fr;
  display: grid;
  grid-template-columns: 2fr 1fr;
}
@media (max-width: 414px) and (min-width: 376px) {
  .header_principal_contenedor-nav {
    display: block;
  }
}
@media (max-width: 375px) and (min-width: 320px) {
  .header_principal_contenedor-nav {
    display: block;
  }
}
.header_principal_contenedor-nav-index {
  display: flex;
  justify-content: space-between;
}
.header_principal_contenedor-nav-index a {
  font-size: 32px;
  color: #0CA6D9;
  filter: drop-shadow(12px 32px 20px rgb(0, 0, 0));
}
@media (max-width: 1920px) and (min-width: 1441px) {
  .header_principal_contenedor-nav-index a {
    font-size: 42px;
  }
}
@media (max-width: 1024px) and (min-width: 821px) {
  .header_principal_contenedor-nav-index a {
    font-size: 20px;
  }
}
@media (max-width: 820px) and (min-width: 415px) {
  .header_principal_contenedor-nav-index a {
    font-size: 16px;
  }
}
@media (max-width: 414px) and (min-width: 376px) {
  .header_principal_contenedor-nav-index a {
    font-size: 12px;
  }
}
@media (max-width: 375px) and (min-width: 320px) {
  .header_principal_contenedor-nav-index a {
    font-size: 12px;
  }
}
.header_principal_contenedor-nav-logo {
  position: relative;
}
@media (max-width: 1920px) and (min-width: 1441px) {
  .header_principal_contenedor-nav-logo {
    right: 100px;
  }
}
@media (max-width: 1024px) and (min-width: 821px) {
  .header_principal_contenedor-nav-logo {
    right: 100px;
  }
}
.header_principal_contenedor-nav-logo img {
  position: relative;
  width: 100%;
  filter: drop-shadow(12px 32px 20px rgb(0, 0, 0));
}
.header_principal_contenedor-nav-title {
  color: #d9451c;
  text-align: right;
  font-size: 97px;
  font-family: "Road Rage", sans-serif;
  font-weight: 300;
  max-width: 100%;
  margin-top: 123px;
  filter: drop-shadow(12px 32px 20px rgb(0, 0, 0));
}
@media (max-width: 1920px) and (min-width: 1441px) {
  .header_principal_contenedor-nav-title {
    font-size: 145px;
  }
}
@media (max-width: 1024px) and (min-width: 821px) {
  .header_principal_contenedor-nav-title {
    font-size: 70px;
  }
}
@media (max-width: 820px) and (min-width: 415px) {
  .header_principal_contenedor-nav-title {
    margin-top: 50px;
  }
}
@media (max-width: 414px) and (min-width: 376px) {
  .header_principal_contenedor-nav-title {
    font-size: 100px;
    text-align: center;
    margin: 0;
  }
}
@media (max-width: 375px) and (min-width: 320px) {
  .header_principal_contenedor-nav-title {
    font-size: 100px;
    text-align: center;
    margin: 0;
  }
}

.header-general {
  margin: 0px 75px 0px 0px;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-general-logo {
  width: 50%;
}
.header-general-logo img {
  width: 100%;
  margin-left: 30px;
}
.header-general-nav {
  display: flex;
  justify-content: space-between;
}
.header-general-nav-index {
  display: flex;
  gap: 115px;
  margin-left: 50px;
}
.header-general-nav-index a {
  font-size: 32px;
  color: #0CA6D9;
  filter: drop-shadow(12px 32px 20px rgb(0, 0, 0));
}

.main_principal-hero-1 {
  position: relative;
  background-image: url(../img/background2.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 83vh;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  perspective: 1000px;
}
@media (max-width: 820px) and (min-width: 415px) {
  .main_principal-hero-1 {
    flex-direction: column;
    align-items: flex-start;
  }
}
@media (max-width: 414px) and (min-width: 376px) {
  .main_principal-hero-1 {
    flex-direction: column;
    background-size: auto;
    background-position: 0% 32%;
    height: 59vh;
  }
}
@media (max-width: 375px) and (min-width: 320px) {
  .main_principal-hero-1 {
    flex-direction: column;
    background-size: auto;
    background-position: 0% 32%;
    height: 59vh;
  }
}
.main_principal-hero-1-container-tv {
  transform: rotateY(39deg) rotateX(10deg) rotateZ(0deg) skewY(-3deg);
  width: 24%;
  opacity: 65%;
  position: relative;
  inset: -292px -184px;
}
@media (max-width: 1920px) and (min-width: 1441px) {
  .main_principal-hero-1-container-tv {
    width: 410px;
    inset: -314px -334px;
    transform: rotateY(43deg) rotateX(13deg) rotateZ(0deg) skewY(-2deg);
  }
}
@media (max-width: 1366px) and (min-width: 1025px) {
  .main_principal-hero-1-container-tv {
    inset: -216px -212px;
  }
}
@media (max-width: 1024px) and (min-width: 821px) {
  .main_principal-hero-1-container-tv {
    width: 293px;
    inset: -228px -144px;
  }
}
@media (max-width: 820px) and (min-width: 415px) {
  .main_principal-hero-1-container-tv {
    width: 50%;
    inset: -106px 103px;
    transform: rotateY(32deg) rotateX(13deg) rotateZ(0deg) skewY(-2deg);
  }
}
@media (max-width: 414px) and (min-width: 376px) {
  .main_principal-hero-1-container-tv {
    width: 77%;
    height: 257px;
    inset: 17px -46px;
    transform: rotateY(36deg) rotateX(8deg) rotateZ(1deg) skewY(-2deg);
  }
}
@media (max-width: 375px) and (min-width: 320px) {
  .main_principal-hero-1-container-tv {
    width: 90%;
    height: 257px;
    inset: -7px 7px;
    transform: rotateY(36deg) rotateX(8deg) rotateZ(1deg) skewY(-2deg);
  }
}
.main_principal-hero-1-container-tv-clases {
  margin-bottom: 20px;
}
@media (max-width: 1024px) and (min-width: 821px) {
  .main_principal-hero-1-container-tv-clases {
    margin-bottom: 10px;
  }
}
@media (max-width: 414px) and (min-width: 376px) {
  .main_principal-hero-1-container-tv-clases {
    margin-bottom: 0;
  }
}
@media (max-width: 375px) and (min-width: 320px) {
  .main_principal-hero-1-container-tv-clases {
    margin-bottom: 0;
  }
}
.main_principal-hero-1-container-tv-clases a {
  font-family: "Oswald", sans-serif;
  color: #d9451c;
  font-size: 33px;
  font-weight: 700;
}
@media (max-width: 1920px) and (min-width: 1441px) {
  .main_principal-hero-1-container-tv-clases a {
    font-size: 33px;
  }
}
@media (max-width: 1366px) and (min-width: 1025px) {
  .main_principal-hero-1-container-tv-clases a {
    font-size: 30px;
  }
}
@media (max-width: 1024px) and (min-width: 821px) {
  .main_principal-hero-1-container-tv-clases a {
    font-size: 24px;
  }
}
@media (max-width: 414px) and (min-width: 376px) {
  .main_principal-hero-1-container-tv-clases a {
    font-size: 30px;
  }
}
@media (max-width: 375px) and (min-width: 320px) {
  .main_principal-hero-1-container-tv-clases a {
    font-size: 30px;
  }
}
.main_principal-hero-1-container-tv-info {
  margin-bottom: 20px;
}
@media (max-width: 1024px) and (min-width: 821px) {
  .main_principal-hero-1-container-tv-info {
    margin-bottom: 10px;
  }
}
@media (max-width: 414px) and (min-width: 376px) {
  .main_principal-hero-1-container-tv-info {
    margin-bottom: 0;
  }
}
@media (max-width: 375px) and (min-width: 320px) {
  .main_principal-hero-1-container-tv-info {
    margin-bottom: 0;
  }
}
.main_principal-hero-1-container-tv-info a {
  font-family: "Bebas Neue", sans-serif;
  color: #E77124;
  font-size: 28px;
}
@media (max-width: 1920px) and (min-width: 1441px) {
  .main_principal-hero-1-container-tv-info a {
    font-size: 34px;
  }
}
@media (max-width: 1366px) and (min-width: 1025px) {
  .main_principal-hero-1-container-tv-info a {
    font-size: 26px;
  }
}
@media (max-width: 820px) and (min-width: 415px) {
  .main_principal-hero-1-container-tv-info a {
    font-size: 40px;
  }
}
@media (max-width: 1024px) and (min-width: 821px) {
  .main_principal-hero-1-container-tv-info a {
    font-size: 30px;
  }
}
@media (max-width: 414px) and (min-width: 376px) {
  .main_principal-hero-1-container-tv-info a {
    font-size: 26px;
  }
}
@media (max-width: 375px) and (min-width: 320px) {
  .main_principal-hero-1-container-tv-info a {
    font-size: 26px;
  }
}
.main_principal-hero-1-container-tv-shop {
  margin-bottom: 20px;
}
@media (max-width: 1024px) and (min-width: 821px) {
  .main_principal-hero-1-container-tv-shop {
    margin-bottom: 10px;
  }
}
@media (max-width: 414px) and (min-width: 376px) {
  .main_principal-hero-1-container-tv-shop {
    margin-bottom: 0;
  }
}
@media (max-width: 375px) and (min-width: 320px) {
  .main_principal-hero-1-container-tv-shop {
    margin-bottom: 0;
  }
}
.main_principal-hero-1-container-tv-shop a {
  font-family: "Roboto Slab", serif;
  color: #FFD700;
  font-size: 20px;
}
@media (max-width: 1920px) and (min-width: 1441px) {
  .main_principal-hero-1-container-tv-shop a {
    font-size: 32px;
  }
}
@media (max-width: 820px) and (min-width: 415px) {
  .main_principal-hero-1-container-tv-shop a {
    font-size: 30px;
  }
}
@media (max-width: 1024px) and (min-width: 821px) {
  .main_principal-hero-1-container-tv-shop a {
    font-size: 20px;
  }
}
@media (max-width: 414px) and (min-width: 376px) {
  .main_principal-hero-1-container-tv-shop a {
    font-size: 20px;
  }
}
@media (max-width: 375px) and (min-width: 320px) {
  .main_principal-hero-1-container-tv-shop a {
    font-size: 20px;
  }
}
.main_principal-hero-1-container-tv-contact a {
  font-family: "Road Rage", sans-serif;
  color: #FFFFFF;
  font-size: 40px;
}
@media (max-width: 1920px) and (min-width: 1441px) {
  .main_principal-hero-1-container-tv-contact a {
    font-size: 68px;
  }
}
@media (max-width: 1366px) and (min-width: 1025px) {
  .main_principal-hero-1-container-tv-contact a {
    font-size: 30px;
  }
}
@media (max-width: 1024px) and (min-width: 821px) {
  .main_principal-hero-1-container-tv-contact a {
    font-size: 20px;
  }
}
@media (max-width: 414px) and (min-width: 376px) {
  .main_principal-hero-1-container-tv-contact a {
    font-size: 30px;
  }
}
@media (max-width: 375px) and (min-width: 320px) {
  .main_principal-hero-1-container-tv-contact a {
    font-size: 30px;
  }
}
.main_principal-hero-1-title {
  margin: 0px 10px 30px 0px;
  font-size: 73px;
  font-family: "Road Rage", sans-serif;
  color: #222222;
}
@media (max-width: 1920px) and (min-width: 1441px) {
  .main_principal-hero-1-title {
    font-size: 102px;
    margin: 0px 18px 12px 0px;
  }
}
@media (max-width: 1366px) and (min-width: 1025px) {
  .main_principal-hero-1-title {
    color: black;
    background-image: linear-gradient(to bottom, #ada9a9, #424040);
    padding: 5px;
    border: 3px solid #666;
    border-radius: 13%;
  }
}
@media (max-width: 1024px) and (min-width: 821px) {
  .main_principal-hero-1-title {
    font-size: 52px;
    margin: 0px 10px 19px 0px;
  }
}
@media (max-width: 820px) and (min-width: 415px) {
  .main_principal-hero-1-title {
    font-size: 71px;
    inset: 94px 98px;
    position: relative;
    color: black;
    background-image: linear-gradient(to bottom, #ada9a9, #424040);
    padding: 5px;
    border: 3px solid #666;
    border-radius: 13%;
  }
}
@media (max-width: 414px) and (min-width: 376px) {
  .main_principal-hero-1-title {
    position: relative;
    inset: 81px -119px;
    font-size: 31px;
    background-image: linear-gradient(to bottom, #ada9a9, #424040);
    padding: 5px;
    border: 3px solid #666;
    border-radius: 13%;
  }
}
@media (max-width: 375px) and (min-width: 320px) {
  .main_principal-hero-1-title {
    position: relative;
    inset: 81px -82px;
    font-size: 31px;
    background-image: linear-gradient(to bottom, #ada9a9, #424040);
    padding: 5px;
    border: 3px solid #666;
    border-radius: 13%;
  }
}
.main_principal-hero-1-btn {
  display: inline-block;
  padding: 10px 20px;
  border: none;
  border-radius: 50%;
  font-family: "Arial", sans-serif;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  background-image: linear-gradient(to bottom, #e0e0e0, #a0a0a0);
  color: #333;
  box-shadow: 0 5px 0 #808080, 0 8px 15px rgba(0, 0, 0, 0.3);
  transition: all 0.1s ease-in-out;
  filter: drop-shadow(12px 32px 20px rgb(0, 0, 0));
}
@media (max-width: 1024px) and (min-width: 821px) {
  .main_principal-hero-1-btn {
    padding: 10px 10px;
  }
}
@media (max-width: 414px) and (min-width: 376px) {
  .main_principal-hero-1-btn {
    padding: 10px 10px;
    background-image: linear-gradient(to bottom, #e68383, #424040);
  }
}
@media (max-width: 375px) and (min-width: 320px) {
  .main_principal-hero-1-btn {
    padding: 10px 10px;
    background-image: linear-gradient(to bottom, #ada9a9, #424040);
  }
}
.main_principal-hero-1-btn :active {
  transform: translateY(3px);
  box-shadow: 0 2px 0 #808080, 0 5px 10px rgba(0, 0, 0, 0.3);
}
.main_principal-hero-1-btn {
  margin: 0px 176px 30px 0px;
}
@media (max-width: 1366px) and (min-width: 1025px) {
  .main_principal-hero-1-btn {
    margin: 0px 75px 30px 0px;
  }
}
@media (max-width: 1024px) and (min-width: 821px) {
  .main_principal-hero-1-btn {
    margin: 0px 101px 28px 0px;
  }
}
@media (max-width: 820px) and (min-width: 415px) {
  .main_principal-hero-1-btn {
    inset: -11px 611px;
    position: relative;
  }
}
@media (max-width: 414px) and (min-width: 376px) {
  .main_principal-hero-1-btn {
    margin-right: 70px;
    margin-bottom: 15px;
  }
}
@media (max-width: 375px) and (min-width: 320px) {
  .main_principal-hero-1-btn {
    margin-right: 31px;
    margin-bottom: 15px;
  }
}
.main_principal-hero-1-btn a {
  font-family: "Bebas Neue", sans-serif;
  font-size: 47px;
  color: rgb(80, 72, 72);
  filter: drop-shadow(12px 32px 20px rgb(0, 0, 0));
}
@media (max-width: 1024px) and (min-width: 821px) {
  .main_principal-hero-1-btn a {
    font-size: 15px;
  }
}
@media (max-width: 414px) and (min-width: 376px) {
  .main_principal-hero-1-btn a {
    font-size: 28px;
    color: black;
    font-family: "Road Rage", sans-serif;
  }
}
@media (max-width: 375px) and (min-width: 320px) {
  .main_principal-hero-1-btn a {
    font-size: 28px;
    color: black;
    font-family: "Road Rage", sans-serif;
  }
}
.main_principal-hero-2 {
  padding: 20px;
  background-image: url(../img/Top-Mistral.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 51vh;
  display: flex;
  justify-content: space-between;
  position: relative;
}
@media (max-width: 820px) and (min-width: 415px) {
  .main_principal-hero-2 {
    background-position: 48%;
  }
}
@media (max-width: 414px) and (min-width: 376px) {
  .main_principal-hero-2 {
    background-position: 69%;
    height: 42vh;
    padding: 0;
  }
}
@media (max-width: 375px) and (min-width: 320px) {
  .main_principal-hero-2 {
    background-position: 69%;
    height: 42vh;
    padding: 0;
  }
}
.main_principal-hero-2-title {
  margin: 115px 60px 0px 0px;
  text-align: right;
  width: 26%;
  font-family: "Oswald", sans-serif;
  font-size: 38px;
  font-weight: 300;
  color: #FFFFFF;
  filter: drop-shadow(12px 32px 20px rgb(0, 0, 0));
}
@media (max-width: 1920px) and (min-width: 1441px) {
  .main_principal-hero-2-title {
    font-size: 48px;
    margin: 240px 100px 30px 0px;
  }
}
@media (max-width: 1366px) and (min-width: 1025px) {
  .main_principal-hero-2-title {
    font-size: 34px;
    margin: 152px 40px 30px 0px;
    width: 30%;
  }
}
@media (max-width: 1024px) and (min-width: 821px) {
  .main_principal-hero-2-title {
    font-size: 27px;
    margin: 152px 40px 30px 0px;
    width: 25%;
  }
}
@media (max-width: 820px) and (min-width: 415px) {
  .main_principal-hero-2-title {
    font-size: 29px;
    margin: 196px 40px 30px 0px;
    width: 25%;
  }
}
@media (max-width: 414px) and (min-width: 376px) {
  .main_principal-hero-2-title {
    font-size: 21px;
    width: 55%;
    margin: 140px 20px 0px 161px;
  }
}
@media (max-width: 375px) and (min-width: 320px) {
  .main_principal-hero-2-title {
    font-size: 22px;
    width: 48%;
    margin: 0px 19px 30px 0px;
    position: absolute;
    bottom: 0;
    right: 0;
  }
}
.main_principal-hero-2-title strong {
  color: #d9451c;
}
.main_principal-hero-2-galeria {
  display: flex;
  overflow-x: scroll;
  overflow-y: hidden;
  scroll-snap-type: x mandatory;
  width: 38%;
  margin-left: 50px;
  border: 10px solid #222222;
  border-radius: 5%;
}
@media (max-width: 1024px) and (min-width: 821px) {
  .main_principal-hero-2-galeria {
    width: 46%;
    height: auto;
  }
}
@media (max-width: 820px) and (min-width: 415px) {
  .main_principal-hero-2-galeria {
    width: 36%;
    height: 67%;
  }
}
@media (max-width: 414px) and (min-width: 376px) {
  .main_principal-hero-2-galeria {
    width: 100%;
    height: 100%;
    border: 10px ridge #e2c75d;
    top: 320px;
    margin: 0;
    position: absolute;
  }
}
@media (max-width: 375px) and (min-width: 320px) {
  .main_principal-hero-2-galeria {
    width: 100%;
    height: 100%;
    border: 10px ridge #e2c75d;
    top: 362px;
    margin: 0;
    position: absolute;
  }
}
.main_principal-hero-2-galeria img {
  scroll-snap-align: center;
  width: 100%;
  height: auto;
  object-fit: cover;
  border: 3px solid #222222;
}

body.principal {
  background-color: #222222;
}

body.general {
  background-image: url(../img/background-body.png);
}

.main-general {
  margin: 0px 50px 0px 50px;
}
.main-general h1 {
  font-family: "Road Rage", sans-serif;
  color: #d9451c;
  filter: drop-shadow(12px 32px 20px rgb(0, 0, 0));
}
.main-general h2 {
  font-family: "Bebas Neue", sans-serif;
  color: #FFD700;
  filter: drop-shadow(12px 32px 20px rgb(0, 0, 0));
}
.main-general h3 {
  font-family: "Oswald", sans-serif;
  color: #E77124;
  filter: drop-shadow(12px 32px 20px rgb(0, 0, 0));
}
.main-general h4 {
  font-family: "Oswald", sans-serif;
  color: #0CA6D9;
  filter: drop-shadow(12px 32px 20px rgb(0, 0, 0));
}
.main-general p {
  font-family: "Roboto Slab", serif;
  color: #FFFFFF;
  filter: drop-shadow(12px 32px 20px rgb(0, 0, 0));
  background-color: rgba(34, 34, 34, 0.5);
}

img.grupo {
  max-width: 100%;
  border: 10px ridge #e2c75d;
}

.presentacion {
  display: flex;
  justify-content: space-between;
}
.presentacion h1 {
  max-width: 36%;
  font-size: 86px;
  font-weight: 900;
  background-color: rgba(34, 34, 34, 0.2);
}
.presentacion p {
  max-width: 50%;
  font-size: 36px;
  margin: 40px 0px 40px 0px;
}

h2.equipo-title {
  font-size: 50px;
  font-weight: 900;
  filter: drop-shadow(12px 32px 20px rgb(0, 0, 0));
  background-color: rgba(34, 34, 34, 0.2);
}

p.aprende {
  font-size: 35px;
  margin-bottom: 50px;
}
p.aprende span {
  color: #d9451c;
}

.equipo {
  display: flex;
  justify-content: space-between;
  margin: 20px 40px 20px 40px;
}
.equipo h3 {
  max-width: 36%;
  font-size: 55px;
  font-weight: 900;
  background-color: rgba(34, 34, 34, 0.2);
}
.equipo img {
  height: 214px;
  border-radius: 27%;
}

.clases {
  background-image: url(../img/clases.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 139vh;
  border: 10px ridge #e2c75d;
}
.clases_precios {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: flex-start;
}
.clases_precios-tarifas {
  background-image: url(../img/block-notas.png);
  background-repeat: no-repeat;
  background-size: cover;
  display: grid;
  grid-template-columns: 1fr;
}
.clases_precios-tarifas li {
  display: flex;
  justify-content: space-between;
}
.clases_precios-tarifas h3 {
  font-size: 27px;
}
.clases_precios-tarifas h4 {
  font-size: 36px;
}
.clases h1 {
  font-size: 77px;
  font-weight: 900;
  max-width: 38%;
  text-align: right;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.separetion img {
  max-width: 100%;
  width: 100%;
}
.separetion {
  background-image: url(../../img/baliza.png);
  max-width: 100%;
}

h1 {
  font-family: "Road Rage", sans-serif;
  color: #d9451c;
}

h2, h3 {
  font-family: "Oswald", sans-serif;
  color: #E77124;
}

p {
  font-family: "Roboto Slab", serif;
  color: #FFFFFF;
}

a {
  font-family: "Bebas Neue", sans-serif;
  color: #FFD700;
}

/*# sourceMappingURL=style.css.map */
