@use "../abstracts/variables" as *;


@mixin breakpoint($point) {
  @if $point == largedesktop {
    @media (max-width: 1920px) and (min-width: 1441px) {
      @content;
    }
  }
  @if $point == desktop {
    @media (max-width: 1440px) and (min-width: 1288px) {
      @content;
    }
  }
  @if $point == smalldesktop {
    @media (max-width: 1280px) and (min-width: 1024px) {
      @content;
    }
  }  
  @else if $point == tablet {
    @media (max-width: 1024px) and (min-width: 766px) {
      @content;
    }
  }
   @else if $point == tabletvertical {
    @media (max-width: 767px) and (min-width: 4481px) {
      @content;
    }
  } 
  @else if $point == mobile-xl {
    @media (max-width: 480px) and (min-width: 377px) {
      @content;
    }
  }
  @else if $point == mobile {
    @media (max-width: 376px) and (min-width: 320px) {
      @content;
    }
  }
 

}


@mixin button() {

    display: inline-block;
    padding: 10px 20px;
    border: none;
    border-radius: 50%;
    font-family: 'Arial', sans-serif;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
  
    background-image: linear-gradient(to bottom, #e0e0e0, #a0a0a0);
    color: #333;
  
    box-shadow: 0 5px 0 #808080,
                0 8px 15px rgba(0, 0, 0, 0.3); 
  
    transition: all 0.1s ease-in-out;

    filter: drop-shadow(12px 32px 20px rgb(0, 0, 0));
    @include breakpoint(tablet) {
      padding: 10px 10px;

    }
    @include breakpoint(mobile-xl) {
      padding: 10px 10px;
      background-image: linear-gradient(to bottom, #ada9a9, #424040);


    }
    @include breakpoint(mobile) {
      padding: 10px 10px;
      background-image: linear-gradient(to bottom, #ada9a9, #424040);


    }


    :active {
      transform: translateY(3px);
      box-shadow: 0 2px 0 #808080,
                  0 5px 10px rgba(0, 0, 0, 0.3); 
    }
  }
  

  
