

//Tipografias 
$font-primari: "Oswald", sans-serif;
$font-segundary: "Bebas Neue", sans-serif;
$font-text: "Roboto Slab", serif;


//Colores
$orange: #FF6600;
$orange-shadow: #FF7B00;
$yellow: #FFD700;
$white-gray: #FFFFFF;
$gray-dark: #222222;
