

//Tipografias 
$font-title: "Road Rage", sans-serif;
$font-primary: "Oswald", sans-serif;
$font-segundary: "Bebas Neue", sans-serif;
$font-subtitle: "Roboto Slab", serif;


//Colores
$blue: #0CA6D9;
$orange: #d9451c;
$orange2: #E77124;
$yellow: #FFD700;
$white-gray: #FFFFFF;
$gray-dark: #222222;
