

//Tipografias 
$font-title: "Road Rage", sans-serif;
$font-primary: "Oswald", sans-serif;
$font-segundary: "Bebas Neue", sans-serif;
$font-subtitle: "Roboto Slab", serif;


//Colores
$blue: #0CA6D9;
$orange: #e76b1d;
$orange2: #cf4105;
$yellow: #dec450;
$white-gray: #FFFFFF;
$gray-dark: #222222;
