@use "../abstracts/mixins" as *;
@use "../abstracts/variables" as *;


body.principal {
    background-color: $gray-dark;
}
body.general {
    background-image: url(../img/background-body.png);
    @include breakpoint(mobile) {
        margin: 0px 0px 0px 0px;

    }
    background-image: url(../img/background-body.png);
    @include breakpoint(mobile-xl) {
        margin: 0px 0px 0px 0px;

    }
}