@use "../abstracts/mixins" as *;
@use "../abstracts/variables" as *;


body.principal {
    background-color: $gray-dark;
}
body.quienes-somos {
    background-image: url(../../img/background-body.png);
}