@use "../abstracts/mixins" as *;
@use "../abstracts/variables" as *;


body.principal {
    background-color: $gray-dark;
}
body.general {
    background-image: url(../img/background-body.png);
}