@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;


.footer_principal {
    background-color: black;
    margin: 0px 0px 0px 0px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    position: relative;
    @include breakpoint(largedesktop) {
        bottom: 47px;
    }
    @include breakpoint(smalldesktop) {
        bottom: 47px;
      }
      @include breakpoint(tablet) {
        bottom: 47px;
      }
      @include breakpoint(mobile-xl) {
        bottom: 152px;
        display: block;
      }
      @include breakpoint(mobile) {
        bottom: 152px;
        display: block;
      }


    &_logo {
        img {
            width: 30%;
            @include breakpoint(tabletvertical) {
                width: 50%;
            }
            @include breakpoint(mobile-xl) {
                width: 100%;
            }
            @include breakpoint(mobile) {
                width: 100%;
            }
        }
    }
    &-aviso {
        color: $white-gray;
        margin-right: 100px;
        margin-bottom: 50px;
        max-width: 50%;
        display: flex;
        flex-direction: column;
        @include breakpoint(tablet) {
            width: 100%;
            margin-bottom: 30px;
            align-items: flex-end;

        }
        @include breakpoint(mobile-xl) {
            display: flex;
            flex-direction: row;
            margin: 0px 20px 0px 20px;
            max-width: 100%;
            width: 90%;        
        }
        @include breakpoint(mobile) {
            display: flex;
            flex-direction: row;
            margin: 0px 20px 0px 20px;
            max-width: 100%;
            width: 90%;        
        }
  
        a {
            font-size: 30px;
            color: $white-gray;
            margin-bottom: 20px;
            background-image: linear-gradient(to bottom, #e0e0e0, #a0a0a0);
            color: #333;
            padding: 10px;
            border-radius: 8%;
            font-family: $font-primary;
            text-align: center;
            @include breakpoint(tablet) {
                font-size: 20px;
                width: 30%;
            }
            @include breakpoint(tabletvertical) {
                font-size: 20px;
                width: 40%;
                margin-top: 20px;
            }
            @include breakpoint(mobile-xl) {
                width: 32%;
                font-size: 18px;
            }
            @include breakpoint(mobile) {
                width: 32%;
                font-size: 18px;
            }
        }
        span {
            font-size: 30px;
            @include breakpoint(tablet) {
                font-size: 20px;
            }
            @include breakpoint(tabletvertical) {
                font-size: 20px;
            }
            @include breakpoint(mobile-xl) {
                font-size: 20px;
                margin-left: 62px;
                display: flex;
                flex-direction: column-reverse;
                margin-bottom: 20px;
            }
            @include breakpoint(mobile) {
                font-size: 20px;
                margin-left: 62px;
                display: flex;
                flex-direction: column-reverse;
                margin-bottom: 20px;
            }
        }
     

    }
}