@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

.footer_principal {
  background-color: black;
  margin: 0px 0px 0px 0px;
  display: flex;
  flex-direction: row;

  @include breakpoint(mobile-xl) {
    display: flex;
  }
  @include breakpoint(mobile) {
    display: flex;

  }

  &_logo {
    img {
      width: 30%;
      @include breakpoint(tabletvertical) {
        width: 50%;
      }
      @include breakpoint(mobile-xl) {
        margin-top: 365px;
        width: 47%;
      }
      @include breakpoint(mobile) {
        margin-top: 273px;
        width: 47%;      
      }
    }
  }
  &-aviso {
    color: #ffffff;
    display: flex;
    flex-direction: column;
    width: 29%;
    justify-content: flex-end;
    align-items: flex-end;
    margin: 0px 30px 20px 9px;
    @include breakpoint(largedesktop) {
      width: 45%;
    }
    @include breakpoint(tablet) {
      width: 100%;
    }
    @include breakpoint(mobile-xl) {
        padding: 0;
        width: 100%;
        font-size: 18px;
        margin: 0px 20px 31px 0px;
        border-radius: 10%;

    }
    @include breakpoint(mobile) {
        padding: 0;
        width: 100%;
        font-size: 18px;
        margin: 0px 20px 31px 0px;
        border-radius: 10%;
    }

    a {
      font-size: 30px;
      color: $white-gray;
      margin-bottom: 20px;
      background-image: linear-gradient(to bottom, #e0e0e0, #a0a0a0);
      color: #333;
      padding: 10px;
      border-radius: 8%;
      font-family: $font-primary;
      text-align: center;
      @include breakpoint(tablet) {
        font-size: 20px;
        width: 20%;
      }
      @include breakpoint(tabletvertical) {
        font-size: 20px;
        width: 40%;
        margin-top: 20px;
      }
      @include breakpoint(mobile-xl) {
        padding: 0;
        width: 100%;
        font-size: 18px;
      }
      @include breakpoint(mobile) {
        padding: 0;
        width: 54%;
        font-size: 12px;
      }
    }
    span {
      font-size: 30px;
      @include breakpoint(tablet) {
        font-size: 20px;
      }
      @include breakpoint(tabletvertical) {
        font-size: 20px;
      }
      @include breakpoint(mobile-xl) {
        font-size: 14px;
        margin: 0;
      }
      @include breakpoint(mobile) {
        font-size: 13px;
        margin: 0;
      }
    }
  }
}
