@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;


.header_principal {
        background-image: url(../img/background-body.png);
        position: relative;


    &_contenedor {
        margin: 0px 100px 0px 100px;
        padding: 30px;
        @include breakpoint(mobile-xl) {
            margin: 0px 10px 0px 10px;
            display: block;
        }
        @include breakpoint(mobile) {
            margin: 0px 10px 0px 10px;
            display: block;
        }
        &-nav {
            display: grid;
            grid-template-columns: 2fr 1fr;
        
            @include breakpoint(mobile-xl) {
                display: block;
            }
            @include breakpoint(mobile) {
                display: block;
            }
      
            &-index {
                display: flex;
                justify-content: space-between;
   
  
                a {
                    font-size: 32px;
                    color: $blue;
                    filter: drop-shadow(12px 32px 20px rgb(0, 0, 0));
                    @include breakpoint(largedesktop) {
                        font-size: 42px;
                    }
                    @include breakpoint(tablet) {
                        font-size: 20px;
                      }
                      @include breakpoint(tabletvertical) {
                        font-size: 16px;
                      }
                      @include breakpoint(mobile) {
                        font-size: 12px;
                      }
                      @include breakpoint(mobile-xl) {
                        font-size: 12px;
                        }
 
                }
            }
            &-logo {
                position: relative;
                @include breakpoint(largedesktop) {
                    right: 100px;
                }
                @include breakpoint(tablet) {
                    right: 100px;
                  }

                img {
                    position: relative;
                    width: 100%;
                    filter: drop-shadow(12px 32px 20px rgba(0, 0, 0, 4.35));
                    
                }
            }
            &-title {
                color: $orange;
                text-align: right;
                font-size: 97px;
                font-family: "Road Rage", sans-serif;
                font-weight: 300;
                max-width: 100%;
                margin-top: 123px;
                filter: drop-shadow(12px 32px 20px rgb(0, 0, 0));
                @include breakpoint(largedesktop) {
                    font-size: 145px;
                }
                @include breakpoint(tablet) {
                    font-size: 70px;
                  }
                @include breakpoint(tabletvertical) {
                    margin-top: 50px;
                }
                @include breakpoint(mobile-xl) {
                    font-size: 100px;
                    text-align: center;
                    margin: 0;

                }
                @include breakpoint(mobile) {
                    font-size: 100px;
                    text-align: center;
                    margin: 0;

                }
            }
        }
    }
}

//////////////////////////////////////////////////////////
/// FIN DE PAGINA PRINCIPLAL//////////////////////



.header-general{
    margin: 0px 75px 0px 0px;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include breakpoint(tablet) {
        margin: 0px 75px 0px 0px;
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
    } 
    @include breakpoint(mobile) {
        display: flex;
        flex-direction: column-reverse;  
        margin: 0;  
    }
    @include breakpoint(mobile-xl) {
        display: flex;
        flex-direction: column-reverse;  
        margin: 0;  
    }
    @include breakpoint(tabletvertical) {
        display: flex;
        flex-direction: column-reverse;  
        margin: 0;  
    }

    &-logo {
        width: 50%;
        @include breakpoint(tablet)  {
            width: 15%;
        }
        img {
            width: 100%;
            margin-left: 30px;
            @include breakpoint(largedesktop) {
                width: 47%;
            }
            @include breakpoint(mobile) {
                margin: 0;

            }
            @include breakpoint(mobile-xl) {
                margin: 0;

            }


        }
    }
    &-nav {
        display: flex;
        justify-content: space-between;

        @include breakpoint(mobile) {
            width: 100%;
        }
        @include breakpoint(mobile-xl) {
            width: 100%;
        }
    

        &-index {
            display: flex;
            gap: 30px;
            margin-left: 50px;
            @include breakpoint(tablet){
                display: flex;
                gap: 24px;

            }
            @include breakpoint(mobile) {
                width: 100%;
                gap: 0;
                margin: 0;
                justify-content: space-around;
            }
            @include breakpoint(mobile-xl) {
                width: 100%;
                gap: 0;
                margin: 0;
                justify-content: space-around;
            }
            @include breakpoint(tabletvertical) {
                width: 100%;
                margin: 30px 0px 0px 0px;
                justify-content: space-around;
            }

            a {
                font-size: 32px;
                color: $blue;
                font-family: $font-segundary;
                font-weight: 700;
                filter: drop-shadow(12px 32px 20px rgb(0, 0, 0));
                @include breakpoint(mobile) {
                    font-size: 12px;

                }
                @include breakpoint(mobile-xl) {
                    font-size: 12px;

                }
                @include breakpoint(tabletvertical) {
                    font-size: 24px;

                }
                @include breakpoint(tablet) {
                    color: $blue;
                    font-family: $font-segundary;
                    font-weight: 300;
                }
                   
            }
        }
    }

}
