@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;


.header_principal {
        background-image: url(../../img/background-body.png);
        position: relative;

    &_contenedor {
        margin: 0px 100px 0px 100px;
        padding: 30px;
        &-nav {
            display: grid;
            grid-template-columns: 2fr 1fr;
            &-index {
                display: flex;
                justify-content: space-between;
                a {
                    font-size: 20px;
                    color: $blue;
                }
            }
            &-logo {
                position: relative;

                img {
                    position: relative;
                    width: 100%;
                    filter: drop-shadow(12px 32px 20px rgba(0, 0, 0, 4.35));
                    
                }
            }
            &-title {
                color: $orange;
                text-align: right;
                font-size: 97px;
                font-family: "Road Rage", sans-serif;
                font-weight: 300;
                max-width: 100%;
                margin-top: 48px;
            }
        }
    }
}
