@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;


.main_principal-hero {

        &-1 {
            background-image: url(../img/background2.png) ;
            background-repeat: no-repeat;
            background-size: cover;
            height: 83vh;
            display: flex;
            justify-content: flex-end; 
            align-items: flex-end;
            perspective: 1000px;
            &-container-tv {
                transform-style: preserve-3d;
                transform: rotateY(39deg) rotateX(10deg) rotateZ(0deg) skewY(-3deg);
                transform-origin: center bottom;
                position: relative;
                width: 336px;
                height: 345px;
                bottom: 288px;
                right: 192px;
                &-clases {
                margin-bottom: 20px;
                a {
                    font-family: $font-primary;
                    color: $orange;
                    font-size: 33px;
                    font-weight: 700;
                }
            }
                &-info{
                margin-bottom: 20px;

                 a {
                    font-family: $font-segundary;
                    color: $orange2;
                    font-size: 28px;
                }
            }
                &-shop {
                margin-bottom: 20px;
                a {
                    font-family: $font-subtitle;
                    color: $yellow;
                    font-size: 20px;
                }
            }
                &-contact a {
                    font-family: $font-title;
                    color: $white-gray;
                    font-size: 40px;
                }

            } 
            
            h2 {
                position: relative;
                bottom: 0;
                font-size: 73px;
                font-family: $font-title;
            } 
            &-btn {
                @include button();
                margin: 0px 139px 57px 0px; 
                a {
                    font-family: $font-segundary;
                    font-size: 47px;
                    color: $yellow;
                }          
             }
        }
        &-2 {
            position: relative;
            bottom: 102px;
            background-image: url(../img/Top-Mistral.png);
            background-repeat: no-repeat;
            background-size: cover;
            height: 51vh;
            h3 {
                margin: 30px 30px 0px 0px;                position: absolute;
                right: 0;
                width: 26%;
                font-family: $font-primary;
                font-size: 38px;
                background: linear-gradient(to right, $orange, $blue);
                background-clip: text;
                color: transparent;
                filter: drop-shadow(12px 32px 20px rgb(0, 0, 0));


            }

        }
}