@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

.main_principal-hero {
  &-1 {
    position: relative;
    background-image: url(../img/background2.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 83vh;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    perspective: 1000px;
    @include breakpoint(mobile-xl) {
      background-size: auto;
      background-position: 0% 32%;
      height: 59vh;
      
    }

    @include breakpoint(mobile) {
      background-size: auto;
      background-position: 0% 32%;
      height: 59vh;
    }
    &-container-tv {
      position: relative;
      transform-style: preserve-3d;
      transform: rotateY(39deg) rotateX(10deg) rotateZ(0deg) skewY(-3deg);
      transform-origin: center bottom;
      position: absolute;
      width: 336px;
      height: 345px;
      bottom: 288px;
      right: 966px;
      opacity: 65%;
      @include breakpoint(largedesktop) {
        width: 410px;
        height: 450px;
        bottom: 293px;
        right: 1322px;
        transform: rotateY(43deg) rotateX(13deg) rotateZ(0deg) skewY(-2deg);
      }
      @include breakpoint(smalldesktop) {
        width: 328px;
        height: 345px;
        bottom: 222px;
        right: 838px;
      }
      @include breakpoint(tablet) {
        width: 328px;
        height: 345px;
        bottom: 202px;
        right: 596px;
      }
      @include breakpoint(tabletvertical) {
        width: 459px;
        height: 354px;
        bottom: 339px;
        right: 201px;
        transform: rotateY(28deg) rotateX(8deg) rotateZ(0deg) skewY(-1deg);
      }
      @include breakpoint(mobile-xl) {
        width: 300px;
        height: 257px;
        left: 74px;
        bottom: 191px;
        transform: rotateY(36deg) rotateX(8deg) rotateZ(1deg) skewY(-2deg);

      }
      @include breakpoint(mobile) {
        width: 300px;
        height: 257px;
        left: 74px;
        bottom: 119px;
        transform: rotateY(36deg) rotateX(8deg) rotateZ(1deg) skewY(-2deg);

      }
      &-clases {
        margin-bottom: 20px;
        @include breakpoint(tablet) {
          margin-bottom: 10px;
        }
        @include breakpoint(mobile-xl) {
          margin-bottom: 0;
        }
        @include breakpoint(mobile) {
          margin-bottom: 0;
        }
        a {
          font-family: $font-primary;
          color: $orange;
          font-size: 33px;
          font-weight: 700;
          @include breakpoint(largedesktop) {
            font-size: 33px;
          }
          @include breakpoint(smalldesktop) {
            font-size: 30px;
          }
          @include breakpoint(mobile-xl) {
            font-size: 30px;
          }
          @include breakpoint(mobile) {
            font-size: 30px;
          }
        }
      }
      &-info {
        margin-bottom: 20px;
        @include breakpoint(tablet) {
          margin-bottom: 10px;
        }
        @include breakpoint(mobile-xl) {
          margin-bottom: 0;
        }
        @include breakpoint(mobile) {
          margin-bottom: 0;
        }

        a {
          font-family: $font-segundary;
          color: $orange2;
          font-size: 28px;
          @include breakpoint(largedesktop) {
            font-size: 34px;
          }
          @include breakpoint(smalldesktop) {
            font-size: 26px;
          }
          @include breakpoint(tabletvertical) {
            font-size: 40px;
          }
          @include breakpoint(mobile-xl) {
            font-size: 26px;
          }
          @include breakpoint(mobile) {
            font-size: 26px;
          }
        }
      }
      &-shop {
        margin-bottom: 20px;
        @include breakpoint(tablet) {
          margin-bottom: 10px;
        }
        @include breakpoint(mobile-xl) {
          margin-bottom: 0;
        }
        @include breakpoint(mobile) {
          margin-bottom: 0;
        }
        a {
          font-family: $font-subtitle;
          color: $yellow;
          font-size: 20px;
          @include breakpoint(largedesktop) {
            font-size: 32px;
          }
          @include breakpoint(tabletvertical) {
            font-size: 30px;
          }
          @include breakpoint(mobile-xl) {
            font-size: 20px;
          }
          @include breakpoint(mobile) {
            font-size: 20px;
          }
        }
      }
      &-contact a {
        font-family: $font-title;
        color: $white-gray;
        font-size: 40px;
        @include breakpoint(largedesktop) {
          font-size: 68px;
        }
        @include breakpoint(smalldesktop) {
          font-size: 30px;
        }
        @include breakpoint(mobile-xl) {
          font-size: 30px;
        }
        @include breakpoint(mobile) {
          font-size: 30px;
        }
      }
    }

    h2 {
      margin: 0px 10px 30px 0px;
      font-size: 73px;
      font-family: $font-title;
      @include breakpoint(largedesktop) {
        font-size: 102px;
        margin: 0px 18px 12px 0px;
      }
      @include breakpoint(tablet) {
        font-size: 52px;
        margin: 0px 10px 19px 0px;
      }
      @include breakpoint(mobile-xl) {
        margin: 0px 13px 9px 0px;
        font-size: 31px;
        background-image: linear-gradient(to bottom, #ada9a9, #424040);
        padding: 5px;
        border: 3px solid #666;
        border-radius: 13%;
      }
      @include breakpoint(mobile) {
        margin: 0px 13px 9px 0px;
        font-size: 31px;
        background-image: linear-gradient(to bottom, #ada9a9, #424040);
        padding: 5px;
        border: 3px solid #666;
        border-radius: 13%;
      }
    }
    &-btn {
      @include button();
      margin: 0px 176px 30px 0px;
      @include breakpoint(smalldesktop) {
        margin: 0px 75px 30px 0px;
      }
      @include breakpoint(tablet) {
        margin: 0px 101px 28px 0px;
      }
      @include breakpoint(tabletvertical) {
        margin-right: 266px;
      }
      @include breakpoint(mobile-xl) {
        margin-right: 70px;
        margin-bottom: 15px;
      }
      @include breakpoint(mobile) {
        margin-right: 70px;
        margin-bottom: 15px;
      }

      a {
        font-family: $font-segundary;
        font-size: 47px;
        color: rgb(80, 72, 72);
        filter: drop-shadow(12px 32px 20px rgb(0, 0, 0));
        @include breakpoint(tablet) {
          font-size: 15px;
        }
        @include breakpoint(mobile-xl) {
          font-size: 15px;
          color: black;
          font-family: $font-title;
        }
        @include breakpoint(mobile) {
          font-size: 15px;
          color: black;
          font-family: $font-title;
        }
      }
    }
  }

  &-2 {
    padding: 20px;
    background-image: url(../img/Top-Mistral.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 51vh;
    display: flex;
    justify-content: space-between;
    position: relative;

    @include breakpoint(tabletvertical) {
      background-position: 48%;
    }
    @include breakpoint(mobile-xl) {
      background-position: 69%;
      height: 42vh;
      padding: 0;
    }
    @include breakpoint(mobile) {
      background-position: 69%;
      height: 42vh;
      padding: 0;
    }
    &-title {
      margin: 172px 100px 30px 0px;
      text-align: right;
      width: 26%;
      font-family: $font-primary;
      font-size: 38px;
      font-weight: 300;
      color: $white-gray;
      filter: drop-shadow(12px 32px 20px rgb(0, 0, 0));
      @include breakpoint(largedesktop) {
        font-size: 48px;
        margin: 240px 100px 30px 0px;
      }
      @include breakpoint(smalldesktop) {
        font-size: 34px;
        margin: 152px 40px 30px 0px;
        width: 30%;
      }
      @include breakpoint(tablet) {
        font-size: 27px;
        margin: 152px 40px 30px 0px;
        width: 25%;
      }
      @include breakpoint(mobile-xl) {
        font-size: 29px;
        width: 62%;
        margin: 140px 30px 0px 161px;
      }
      @include breakpoint(mobile) {
        font-size: 22px;
        width: 48%;
        margin: 0px 19px 30px 0px;
        position: absolute;
        bottom: 0;
        right: 0;
      }
      strong {
        color: $orange;
      }
    }
    &-galeria {
      position: relative;
      display: flex;
      overflow-x: scroll;
      overflow-y: hidden;
      scroll-snap-type: x mandatory;
      width: 30%;
      margin-left: 50px;
      border: 10px solid $gray-dark;
      border-radius: 5%;
      @include breakpoint(tablet) {
        width: 46%;
        height: auto;
      }
      @include breakpoint(tabletvertical) {
        width: 36%;
        height: 67%;
      }
      @include breakpoint(mobile-xl) {
        width: 100%;
        height: 100%;
        border: 10px ridge #e2c75d;
        top: 406px;
        margin: 0;
        position: absolute;
      }
      @include breakpoint(mobile) {
        width: 100%;
        height: 100%;
        border: 10px ridge #e2c75d;
        top: 323px;
        margin: 0;
        position: absolute;
      }

      img {
        scroll-snap-align: center;
        width: 100%;
        height: auto;
        object-fit: cover;
        border: 3px solid $gray-dark;
   
      }
    }
  }
}
