@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

.main-general {
  margin: 0px 50px 0px 50px;
  @include breakpoint(mobile) {
    margin: 0;
  }
  @include breakpoint(mobile-xl) {
    margin: 0;
  }
}

img.grupo {
  max-width: 100%;
  border: 10px ridge #e2c75d;
}
.presentacion {
  display: flex;
  justify-content: space-between;
  @include breakpoint(mobile) {
    flex-direction: column;
  }
  @include breakpoint(mobile-xl) {
    flex-direction: column;
  }
  @include breakpoint(tabletvertical) {
    flex-direction: column;
  }
  h1 {
    max-width: 36%;
    font-size: 86px;
    font-weight: 900;
    filter: drop-shadow(-1px 14px 4px rgb(0, 0, 0));
    @include breakpoint(mobile) {
      text-align: center;
      font-size: 43px;
      max-width: 100%;
      width: 100%;
    }
    @include breakpoint(mobile-xl) {
      text-align: center;
      font-size: 43px;
      max-width: 100%;
      width: 100%;
    }
    @include breakpoint(tabletvertical) {
      max-width: 100%;
      font-size: 50px;
      text-align: center;
    }
  }
  p {
    max-width: 50%;
    font-size: 36px;
    margin: 40px 0px 40px 0px;
    @include breakpoint(mobile) {
      text-align: center;
      font-size: 20px;
      max-width: 100%;
      width: 100%;
    }
    @include breakpoint(mobile-xl) {
      text-align: center;
      font-size: 20px;
      max-width: 100%;
      width: 100%;
    }
    @include breakpoint(tabletvertical) {
      max-width: 100%;
      font-size: 26px;
    }
  }
}

h2.equipo-title {
  font-size: 50px;
  font-weight: 900;
  text-align: center;
  filter: drop-shadow(12px 32px 20px rgb(0, 0, 0));
  background-color: rgb(34, 34, 34, 0.2);
  text-shadow: 0px 0px 0 #000, 0px 0px 0 #000, 0px -1px 0 #000, 2px -2px 0 #000;
  @include breakpoint(mobile) {
    font-size: 30px;
  }
  @include breakpoint(mobile-xl) {
    font-size: 30px;
  }
}
p.aprende {
  font-size: 24px;
  text-align: center;
  margin-bottom: 50px;

  span {
    color: $orange;
  }
}
.equipo {
  display: flex;
  justify-content: space-between;
  margin: 20px 40px 20px 40px;
  @include breakpoint(mobile) {
    margin: 0;
    max-width: 100%;
  }
  @include breakpoint(mobile-xl) {
    margin: 0;
    max-width: 100%;
  }
  article {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  h3 {
    color: $yellow;
    font-size: 55px;
    font-weight: 900;
    background-color: rgb(34, 34, 34, 0.2);
    @include breakpoint(mobile) {
      font-size: 20px;
    }
    @include breakpoint(mobile-xl) {
      font-size: 20px;
    }
    @include breakpoint(tabletvertical) {
      font-size: 26px;
    }
  }
  img {
    height: 214px;
    border-radius: 27%;
    @include breakpoint(mobile) {
      width: 100%;
      height: 100%;
    }
    @include breakpoint(mobile-xl) {
      width: 100%;
      height: 100%;
    }
    @include breakpoint(tabletvertical) {
      padding: 10px;
    }
  }
}

.clases {
  background-image: url(../img/clases.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 132vh;
  border: 10px ridge #e2c75d;
  @include breakpoint(mobile) {
    background-size: auto;
    background-position: 39% 0%;
    display: grid;
  }
  @include breakpoint(mobile-xl) {
    background-size: auto;
    background-position: 39% 0%;
    display: grid;
  }
  @include breakpoint(tabletvertical) {
    background-position: 39% 0%;

  }


  &_precios {
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: flex-start;
    @include breakpoint(mobile-xl) {
      align-items: center;
      justify-content: space-between;
      margin-bottom: 48px;
    }
    @include breakpoint(mobile) {
      align-items: center;
      justify-content: space-between;
      margin-bottom: 48px;
    }
    &-tarifas {
      display: grid;
      grid-template-columns: 1fr;
      @include breakpoint(tabletvertical) {
        position: relative;
        top: 622px;
        left: 199px;
      }
      @include breakpoint(tablet) {
        position: relative;
        top: 305px;
        left: 575px;
      }
      @include breakpoint(smalldesktop) {
        position: relative;
        top: 305px;
        left: 839px;
      }

      li {
        display: flex;
        justify-content: space-between;
        gap: 20px;
      }
      h3 {
        font-size: 21px;
        text-shadow: 2px -2px 0 #000;
      }
      h4 {
        font-size: 24px;
        color: $blue;
        text-shadow: 2px -2px 0 #000;
      }
    }
  }
  h1 {
    font-size: 77px;
    text-shadow: 2px -2px 0 #000;
    font-weight: 900;
    max-width: 38%;
    text-align: right;
    @include breakpoint(mobile-xl) {
      font-family: "Oswald", sans-serif;
      font-size: 30px;
      max-width: 86%;
      text-align: center;
      line-height: 57px;
      text-shadow: 2px 2px 0 #000, -2px 2px 0 #000, -2px -2px 0 #000,
        2px -2px 0 #000;
      background-color: rgb(34, 34, 34, 0.2);
    }
    @include breakpoint(mobile) {
      font-family: "Oswald", sans-serif;
      font-size: 30px;
      max-width: 86%;
      text-align: center;
      line-height: 57px;
      text-shadow: 2px 2px 0 #000, -2px 2px 0 #000, -2px -2px 0 #000,
        2px -2px 0 #000;
      background-color: rgb(34, 34, 34, 0.2);
    }
    @include breakpoint(tabletvertical) {
      padding: 30px;
    }
    @include breakpoint(tablet) {
      font-size: 50px;
      max-width: 59%;
      margin-bottom: 206px;
      margin-top: 43px;
  }
  }
  p {
    font-size: 35px;
    background-color: rgba(34, 34, 34, 0.2);
    width: 71%;
    text-align: center;
    bottom: 159px;
    position: relative;
    @include breakpoint(tabletvertical) {
      padding: 26px;
      top: 0;
      left: 324px;
      font-size: 27px;
      width: 51%;
    }
    @include breakpoint(tablet) {
      width: 30%;
      left: 586px;
    }
    @include breakpoint(smalldesktop) {
      width: 30%;
      left: 738px;
    }
  }
}

.tabla {
  overflow-x: auto;

  h3 {
    width: 100%;
    margin-left: 20px;
    color: $blue;
    text-shadow: 2px 2px 0 #000, -2px 2px 0 #000, -2px -2px 0 #000,
      2px -2px 0 #000;
  }
  table {
    background-image: url(../img/road.jpg);
    width: 100%;
    border-collapse: collapse;
    border: 6px double $yellow;
  }
  table th,
  table td {
    border: 2px dashed yellow;
    padding: 8px;
    text-align: center;
  }
  td:nth-child(1) b {
    color: $orange;
    text-shadow: 2px -2px 0 #000;
  }
  th:not(:first-child) {
    color: $blue;
    text-shadow: 2px -2px 0 #000;
  }
  td:not(:first-child) {
    color: $white-gray;
    text-shadow: 2px -2px 0 #000;
  }
}

.seleccion {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.espigon {
  display: flex;
  flex-direction: column;
  align-items: center;
  &-text {
    text-align: center;
    text-shadow: 2px 2px 0 #000, -2px 2px 0 #000, -2px -2px 0 #000;
  }
  &-img {
    border: 10px ridge #e2c75d;
  }
  &-subtitle {
    position: relative;
    width: 63%;
    color: #0ca6d9;
    font-family: "Road Rage", sans-serif;
    font-size: 16px;
    text-align: center;
    padding: 20px;
    text-shadow: 2px -2px 0 #000;

    @include breakpoint(tabletvertical) {
      font-size: 26px;
      width: 100%;
    }
    @include breakpoint(smalldesktop) {
      font-size: 26px;
      width: 100%;
    }
  }
}
.registro {
  @include breakpoint(smalldesktop) {
    display: flex;
  }
  &-info {
    &-title {
      color: #d9451c;
      text-align: center;
      font-size: 30px;
      font-family: $font-segundary;
      font-weight: 900;
      max-width: 100%;
      filter: drop-shadow(12px 32px 20px rgb(0, 0, 0));
      text-shadow: 2px 2px 0 #000, -2px 2px 0 #000, -2px -2px 0 #000,
        2px -2px 0 #000;
    }
    &-subtitle {
      color: $yellow;
      text-align: center;
      margin-bottom: 30px;
      text-shadow: 2px 2px 0 #000, -2px 2px 0 #000, -2px -2px 0 #000,
        2px -2px 0 #000;
    }
    img {
      width: 100%;
      @include breakpoint(smalldesktop) {
        width: 100%;
      }
    }
  }
  &-formulario {
    display: flex;
    justify-content: space-around;
    @include breakpoint(smalldesktop) {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }
    p {
      margin-bottom: 20px;
    }
  }
}

.registro-formulario label {
  color: $white-gray;
  text-shadow: 2px 2px 0 #000, -2px 2px 0 #000, -2px -2px 0 #000,
    2px -2px 0 #000;
}

.registro-formulario input,
.registro-formulario textarea {
  background-image: url(../img/road.jpg);
  background-position: 0% -6%;
  color: $yellow;
  font-family: $font-title;

  border: 1px solid #ccc;
  padding: 5px;
}

.main-login {
  margin: 0px 20px 0px 20px;
  display: grid;
  justify-items: center;

  @include breakpoint(tabletvertical) {
    display: flex;
  }
  @include breakpoint(smalldesktop) {
    display: flex;
    gap: 100px;
  }

  h1 {
    color: $orange;
    text-align: center;
    font-size: 30px;
    font-family: $font-segundary;
    font-weight: 900;
    max-width: 100%;
    filter: drop-shadow(12px 32px 20px rgb(0, 0, 0));
    text-shadow: 2px 2px 0 #000, -2px 2px 0 #000, -2px -2px 0 #000,
      2px -2px 0 #000;
    margin-bottom: 20px;
  }
  p {
    text-align: center;
    margin-bottom: 10px;

    
  }

  img {
    width: 35%;
    @include breakpoint(tabletvertical) {
      width: 50%;
    }
    @include breakpoint(smalldesktop) {
      width: 50%;
    }
  }
}

label {
  color: $white-gray;
}

input[type="email"],
input[type="password"],
input[type="text"],
textarea { 
  display: flex;
  background-image: url(../img/road.jpg);
  background-position: 0% -6%;
  color: $yellow;
  padding: 6px;
  margin: 0px 20px 0px 20px;
}

.btn {
  @include button();
  margin-right: 40px;
}

.contacto-formulario {
  margin: 0px 20px 40px 20px;
  @include breakpoint(smalldesktop) {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: center;
  }

  }
  


.seleccion {
  padding: 30px;
  display: flex;
  align-items: center;

  article {
    margin-bottom: 30px;
    display: grid;
    justify-items: center;

    img {
      width: 100%;
    }
    p {
      @include button();
    }
  }
}
.mapa-contenedor {
  max-width: 100%;
  margin: 0px 20px 0px 20px;
}
.mapa {
  width: 100%;
}
.contacto {
  margin: 0px 20px 0px 20px;
  h1,
  figure,
  p {
    text-align: center;
    margin-bottom: 30px;
  }
}

.parrafo-contacto {
  @include breakpoint(smalldesktop) {
    font-size: 30px;
  }
}