@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

.main-general {
  margin: 0px 50px 0px 50px;
  @include breakpoint(mobile) {
    margin: 0;
  }
  @include breakpoint(mobile-xl) {
    margin: 0;
  }




}

img.grupo {
  max-width: 100%;
  border: 10px ridge #e2c75d;
}
.presentacion {
  display: flex;
  justify-content: space-between;
  @include breakpoint(mobile) {
    flex-direction: column;
  }
  @include breakpoint(mobile-xl) {
    flex-direction: column;
  }
  h1 {
    max-width: 36%;
    font-size: 86px;
    font-weight: 900;
    filter: drop-shadow(-1px 14px 4px rgb(0, 0, 0));
    @include breakpoint(mobile) {
      text-align: center;
      font-size: 43px;
      max-width: 100%;
      width: 100%;
    }
    @include breakpoint(mobile-xl) {
      text-align: center;
      font-size: 43px;
      max-width: 100%;
      width: 100%;
    }
  }
  p {
    max-width: 50%;
    font-size: 36px;
    margin: 40px 0px 40px 0px;
    @include breakpoint(mobile) {
      text-align: center;
      font-size: 20px;
      max-width: 100%;
      width: 100%;
    }
    @include breakpoint(mobile-xl) {
      text-align: center;
      font-size: 20px;
      max-width: 100%;
      width: 100%;
    }
  }
}

h2.equipo-title {
  font-size: 50px;
  font-weight: 900;
  filter: drop-shadow(12px 32px 20px rgb(0, 0, 0));
  background-color: rgb(34, 34, 34, 0.2);
  @include breakpoint(mobile) {
    font-size: 30px;
  }
  @include breakpoint(mobile-xl) {
    font-size: 30px;
  }
}
p.aprende {
  font-size: 35px;
  margin-bottom: 50px;

  span {
    color: $orange;
  }
}
.equipo {
  display: flex;
  justify-content: space-between;
  margin: 20px 40px 20px 40px;
  @include breakpoint(mobile) {
    margin: 0;
    max-width: 100%;
  }
  @include breakpoint(mobile-xl) {
    margin: 0;
    max-width: 100%;
  }
  article {
    display: flex;
    align-items: center;
    flex-direction: column;  }
  h3 {
    max-width: 36%;
    font-size: 55px;
    font-weight: 900;
    background-color: rgb(34, 34, 34, 0.2);
    @include breakpoint(mobile) {
      font-size: 20px;
    }
    @include breakpoint(mobile-xl) {
      font-size: 20px;
    }
  }
  img {
    height: 214px;
    border-radius: 27%;
    @include breakpoint(mobile) {
      width: 100%;
      height: 100%;
    }
    @include breakpoint(mobile-xl) {
      width: 100%;
      height: 100%;
    }
  }
}

.clases {
  background-image: url(../img/clases.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 139vh;
  border: 10px ridge #e2c75d;
  @include breakpoint(mobile) {
    background-size: auto;
    background-position: 39% 0%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  @include breakpoint(mobile-xl) {
    background-size: auto;
    background-position: 39% 0%;
    display: grid;
  }

  &_precios {
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: flex-start;
    @include breakpoint(mobile-xl) {
      align-items: center;
      justify-content: space-between;
    }
    @include breakpoint(mobile) {
      align-items: center;
      justify-content: space-between;
    }
    &-tarifas {
      display: grid;
      grid-template-columns: 1fr;

      li {
        display: flex;
        justify-content: space-between;
        gap: 20px;
      }
      h3 {
        font-size: 21px;
        background-color: rgb(34, 34, 34, 0.2);
        text-shadow: 2px 2px 0 #000, -2px 2px 0 #000, -2px -2px 0 #000,
          2px -2px 0 #000;
      }
      h4 {
        font-size: 24px;
        background-color: rgb(34, 34, 34, 0.2);
        text-shadow: 2px 2px 0 #000, -2px 2px 0 #000, -2px -2px 0 #000,
          2px -2px 0 #000;
      }
    }
  }
  h1 {
    font-size: 77px;
    font-weight: 900;
    max-width: 38%;
    text-align: right;
    @include breakpoint(mobile-xl) {
      font-family: "Oswald", sans-serif;
      font-size: 30px;
      max-width: 86%;
      text-align: center;
      line-height: 57px;
      text-shadow: 2px 2px 0 #000, -2px 2px 0 #000, -2px -2px 0 #000,
        2px -2px 0 #000;
      background-color: rgb(34, 34, 34, 0.2);
    }
    @include breakpoint(mobile) {
      font-family: "Oswald", sans-serif;
      font-size: 30px;
      max-width: 86%;
      text-align: center;
      line-height: 57px;
      text-shadow: 2px 2px 0 #000, -2px 2px 0 #000, -2px -2px 0 #000,
        2px -2px 0 #000;
      background-color: rgb(34, 34, 34, 0.2);
    }
  }
  p {
    font-size: 35px;
    background-color: rgba(34, 34, 34, 0.2);
    width: 71%;
    text-align: center;
    bottom: 159px;
    position: relative;
  }
}

.tabla {
  background-color: $white-gray;
  table {
    width: 100%;
  }
}
.tabla {
  overflow-x: auto;
}

.tabla table {
  width: 100%;
  border-collapse: collapse;
}
.seleccion {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.espigon {
  display: flex;
  flex-direction: column;
  align-items: center;
  &-text {
    text-align: center;
    text-shadow: 2px 2px 0 #000, -2px 2px 0 #000, -2px -2px 0 #000,
  }
  &-img {
    border: 10px ridge #e2c75d;

  }
  &-subtitle {
    position: relative;
    width: 63%;
    color: #0CA6D9;
    font-family: "Road Rage", sans-serif;
    font-size: 16px;
    text-align: center;
    padding: 20px;
    
  }
}
  .registro {
  &-info {

    &-title {
      color: #d9451c;
      text-align: center;
      font-size: 30px;
      font-family: $font-segundary;
      font-weight: 900;
      max-width: 100%;
      filter: drop-shadow(12px 32px 20px rgb(0, 0, 0));
      text-shadow: 2px 2px 0 #000, -2px 2px 0 #000, -2px -2px 0 #000,
      2px -2px 0 #000;

    }
    &-subtitle {
      color: $yellow;
      text-align: center;
      margin-bottom: 30px;
      text-shadow: 2px 2px 0 #000, -2px 2px 0 #000, -2px -2px 0 #000,
      2px -2px 0 #000;
    }
    img {
      width: 100%;
    }
  }
  &-formulario {
    display: flex;
    justify-content: space-around;
    p {
      margin-bottom: 20px;
    }
    
  }

}

.registro-formulario label {
  color: $yellow; 
  text-shadow: 2px 2px 0 #000, -2px 2px 0 #000, -2px -2px 0 #000,
  2px -2px 0 #000;             
}

.registro-formulario input,
.registro-formulario textarea {
  background-color: grey;      
  color: black; 
  text-shadow: 2px 2px 0 $blue, -2px 2px 0 $blue, -2px -2px 0 $blue,
  2px -2px 0 $blue;            
  border: 1px solid #ccc;
  padding: 5px;
}

.main-login {
  margin: 0px 20px 0px 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;

  h1 {
    color: $orange;
    text-align: center;
    font-size: 30px;
    font-family: $font-segundary;
    font-weight: 900;
    max-width: 100%;
    filter: drop-shadow(12px 32px 20px rgb(0, 0, 0));
    text-shadow: 2px 2px 0 #000, -2px 2px 0 #000, -2px -2px 0 #000,
    2px -2px 0 #000;

  }
}