@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

.main-general {
  margin: 0px 50px 0px 50px;

  h1 {
    font-family: $font-title;
    color: $orange;
    filter: drop-shadow(12px 32px 20px rgb(0, 0, 0));
  }
  h2 {
    font-family: $font-segundary;
    color: $yellow;
    filter: drop-shadow(12px 32px 20px rgb(0, 0, 0));
  }
  h3 {
    font-family: $font-primary;
    color: $orange2;
    filter: drop-shadow(12px 32px 20px rgb(0, 0, 0));
  }
  h4 {
    font-family: $font-primary;
    color: $blue;
    filter: drop-shadow(12px 32px 20px rgb(0, 0, 0));
  }

  p {
    font-family: $font-subtitle;
    color: $white-gray;
    filter: drop-shadow(12px 32px 20px rgb(0, 0, 0));
    background-color: rgb(34, 34, 34, 0.5);
  }
}

img.grupo {
  max-width: 100%;
  border: 10px ridge #e2c75d;
}
.presentacion {
  display: flex;
  justify-content: space-between;
  h1 {
    max-width: 36%;
    font-size: 86px;
    font-weight: 900;
    background-color: rgb(34, 34, 34, 0.2);
  }
  p {
    max-width: 50%;
    font-size: 36px;
    margin: 40px 0px 40px 0px;
  }
}

h2.equipo-title {
  font-size: 50px;
  font-weight: 900;
  filter: drop-shadow(12px 32px 20px rgb(0, 0, 0));

  background-color: rgb(34, 34, 34, 0.2);
}
p.aprende {
  font-size: 35px;
  margin-bottom: 50px;

  span {
    color: $orange;
  }
}
.equipo {
  display: flex;
  justify-content: space-between;
  margin: 20px 40px 20px 40px;
  h3 {
    max-width: 36%;
    font-size: 55px;
    font-weight: 900;
    background-color: rgb(34, 34, 34, 0.2);
  }
  img {
    height: 214px;
    border-radius: 27%;
  }
}

.clases {
  background-image: url(../img/clases.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 139vh;
  border: 10px ridge #e2c75d;

  &_precios {
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: flex-start;
    &-tarifas {
      background-image: url(../img/block-notas.png);
      background-repeat: no-repeat;
      background-size: cover;
      display: grid;
      grid-template-columns: 1fr;
 

      li {
        display: flex;
        justify-content: space-between;
      }
      h3 {
        font-size: 27px;
      }
      h4 {
        font-size: 36px;
      }
    }
  }
  h1 {
    font-size: 77px;
    font-weight: 900;
    max-width: 38%;
    text-align: right;
  }
}
