@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;


.main_principal {
    position: relative;
    bottom: 104px;
    height: 141vh;
    @include breakpoint(largedesktop) {
        bottom: 141px;
    }
    @include breakpoint(tabletvertical) {
        bottom: 141px;
    }

}