@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

a  {
    text-decoration: none;
   
}
ul {
    list-style: none;
}


.separetion {
    img {
        max-width: 100%;
        width: 100%;
    }
    background-image: url(../../img/baliza.png);
    max-width: 100%;
}
h1 {
    font-family: $font-title;
    color: $orange;
}

h2, h3 {
    font-family: $font-primary;
    color: $orange2;
}

p {
    font-family: $font-subtitle;
    color: $white-gray;    
}

a {
    font-family: $font-segundary;
    color: $yellow;
}
