@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

a  {
    text-decoration: none;
   
}
ul {
    list-style: none;
}


.separetion {
    background-image: url(../../img/baliza.png);
    height: 21vh;
    bottom: 82px;
    position: relative;
}