@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

a  {
    text-decoration: none;
   
}
ul {
    list-style: none;
}


.separetion {
    background-image: url(../img/baliza.png);
    height: 21vh;
    bottom: 82px;
    position: relative;
    @include breakpoint(mobile-xl) {
        bottom: 80px;
        height: 28vh;
    }
}
.separetion-footer {
    background-image: url(../img/baliza.png);
    height: 21vh;
    bottom: 186px;
    position: relative;
    @include breakpoint(largedesktop) {
        bottom: 227px;
    }
    @include breakpoint(tabletvertical) {
        bottom: 227px;
    }
    @include breakpoint(mobile-xl) {
        bottom: 117px;
    }
}