@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

a  {
    text-decoration: none;
   
}
ul {
    list-style: none;
}


.separetion {
    img {
        max-width: 100%;
        width: 100%;
    }
    background-image: url(../../img/baliza.png);
    max-width: 100%;
}
